* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 500px;
  height: 300px;
  border: 3px solid #000;
  border-radius: 3%;
}

.titulo {
  text-align: center;
  border-bottom: 3px solid black;
}

.items {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.convertirDe {
  display: flex;
  flex-direction: column;
}

.texto1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.select1 {
  margin-left: 15%;
  margin-top: 15px;
  height: 35px;
  width: 100px;
}

.select2 {
  margin-top: 15px;
  height: 35px;
  width: 150px;
}

.convertirA {
  display: flex;
  flex-direction: column;
}

.texto2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
